<button type="button" class="account-status-btn" [matMenuTriggerFor]="accountMenu" (click)="selectedAcademy = academy">
    <div class="flex aic" dir="auto">
        <!-- <img src="/icons/hight.svg" *ngIf="academy.accountStatus == 'active'" width="10" height="10" alt="" />
      <img src="/icons/low.svg" *ngIf="academy.accountStatus == 'inactive'" width="10" height="10" alt="" /> -->
        @if(true) {
        <p [ngStyle]="{ color: getPriorityColor(academy.id) }">
            {{ academy.statusId | translate }}
        </p> }
    </div>
</button>

<mat-menu #accountMenu="matMenu">

    @for (status of accountStatuses; track status.id) {

    <button mat-menu-item (click)="changeAccountStatus(selectedAcademy, status)">

        <img [src]="status.src" width="10" height="10" alt="" />
        <span class="px-1">
            {{ status.name | translate}}
        </span>

    </button>
    }

</mat-menu>
