.account-status-btn {
    border: 0;
    background: transparent;
    cursor: pointer;
    gap: 4px;

    padding: 4px 8px;
    border-radius: 6px;

    font: inherit;

    &:hover {
        background: #f5f5f5;
    }

    i {
        font-size: 18px;
    }
}