<button type="button" class="account-status-btn" [matMenuTriggerFor]="accountMenu" (click)="selectedAcademy = academy">

    <span class="account-status text-right" [ngClass]="{
                  'green': academy.accountStatus == 'active' ,
                  'danger': academy.accountStatus == 'inactive'      }">

        <img [src]="academy.accountStatus == 'active' ?  '/icons/hight.svg' : '/icons/low.svg'" alt="">
        <span class="pl-1">
            {{ academy.accountStatus | translate}}
        </span>
    </span>

    <i class="bx bx-chevron-down"></i>

</button>

<mat-menu #accountMenu="matMenu">

    @for (status of accountStatuses; track status.id) {

    <button mat-menu-item (click)="changeAccountStatus(selectedAcademy, status)">

        <img [src]="status.src" width="10" height="10" alt="" />
        <span class="px-1">
            {{ status.name | translate}}
        </span>

    </button>

    }

</mat-menu>