<div class="floors flex-column gap-y-2 h-100 pt-4 px-5">
    <div class="flex aic jcsb gap-x-2"> 
        <div class="flex aic pointer" routerLink="../../">
            <i class="bx bx-left-arrow-alt bx-md" [ngClass]="{ 'bx-flip-horizontal': isRtl }">
            </i>
            <span>
                {{ 'back' | translate }}
            </span>
        </div>
        <h3 class="m-0">
            #{{ academyId }}
        </h3>
    </div>

    <div class="flex-grid gap-x-2 gap-y-2">
        <div class="col-lg-2">

            <country-receipt-filter />

        </div>

        <div class="col-lg-2">
            <payment-status />
        </div>

        <div class="col-lg-2">
            <bank-account-status-filter />
        </div>

        <div class="col-lg-2">
            <date-range-filter (dateRangeChange)="onDateRangeChange($event)">
            </date-range-filter>
        </div>

        @if (selectedAcademies.length > 0) {
        <div class="col-lg-3 flex aic">
            <button type="button" class="clickable-btn py-1 px-3 rounded bg-primary flex aic gap-x-1"
                (click)="sendBulkInvoices()">
                <span>
                    {{ 'send_to_all' | translate }}

                    ({{ selectedAcademies.length }})
                </span>
            </button>
        </div>
        }
    </div>

    <div class="table-data bg-white relative height-with-tabs" magicScroll>
        @if (!loading) {
        <table class="table w-100 rounded bg-white">
            <thead class="border-bottom">
                <tr class="primary">
                    <th class="text-center">
                        <mat-checkbox [checked]="isAllSelected()" [indeterminate]="isSomeSelected()"
                            (change)="toggleSelectAll($event.checked)">
                        </mat-checkbox>
                    </th>
                    <th class="text-center">
                        {{ 'transfer_status' | translate }}
                    </th>
                    <th class="text-center">
                        {{ 'account' | translate }}
                    </th>
                    <th class="text-center">
                        {{ 'transfer_receipt' | translate }}
                    </th>
                    <th class="text-center">
                        {{ 'payment_method' | translate }}
                    </th>
                    <th class="text-center">
                        {{ 'exchange_rate' | translate }}
                    </th>
                    <th class="text-center">
                        {{ 'total_egp' | translate }}
                    </th>
                    <th class="text-center">
                        {{ 'date' | translate }}
                    </th>
                    <th class="text-center">
                        {{ 'transfer_img' | translate }}
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (houseUnits.length > 0) {
                <tr class="black rounded" *ngFor="
                                let academy of houseUnits
                                | paginate : {
                                    itemsPerPage: pageSize,
                                    currentPage: currentPage
                                };
                                trackBy: trackBy
                            ">

                    <td class="text-center" (click)="$event.stopPropagation()">

                        <mat-checkbox [checked]="isSelected(academy)" (change)="
                                        toggleSelection(
                                            academy,
                                            $event.checked
                                        )
                                    ">
                        </mat-checkbox>

                    </td>
                    <td class="text-center" (click)="$event.stopPropagation()">
                        <transfer-status [academy]="academy">
                        </transfer-status>
                    </td>

                    <td class="text-center" (click)="$event.stopPropagation()">
                        <app-account-status [academy]="academy">
                        </app-account-status>
                    </td>

                    <td class="text-center">
                        <span>
                            {{ academy.receiptNumber }}
                        </span>
                    </td>

                    <td class="text-center">
                        <span>
                            {{ academy.paymentMethod }}
                        </span>
                    </td>
                    <td class="text-center">
                        <span>
                            {{ academy.exchangeRate }}
                        </span>
                    </td>

                    <td class="text-center">
                        <span class="fw-bold">
                            EGP
                            {{ academy.totalEgp | number:'1.2-2' }}
                        </span>
                    </td>

                    <td class="text-center">
                        <span>
                            {{ academy.date | date:'yyyy-MM-dd' }}
                        </span>
                    </td>

                    <td class="text-center">
                        <a [href]="academy.invoiceUrl" target="_blank" class="clickable">

                            {{ 'view_invoice' | translate }}

                        </a>
                    </td>

                    <td class="text-center" (click)="$event.stopPropagation()">

                        <img src="/icons/menu.svg" class="pointer px-1" [matMenuTriggerFor]="menu" alt="menu icon" />


                        <mat-menu #menu="matMenu" class="filter-menu">

                            <div dir="auto">
                                <button mat-menu-item (click)="editAcademy(academy)">
                                    <div class="flex aic">
                                        <img src="/icons/edit.svg" width="15" height="15" alt="edit icon" />
                                        <p class="ml-1">
                                            {{"edit_academy" | translate}}
                                        </p>

                                    </div>

                                </button>

                                <button mat-menu-item (click)="deleteAcademy(academy)">
                                    <div class="flex aic">
                                        <img src="/icons/delete-danger.svg" width="15" height="15" alt="delete icon" />
                                        <p class="ml-1">
                                            {{"delete_academy" | translate }}
                                        </p>
                                    </div>
                                </button>
                            </div>
                        </mat-menu>
                    </td>
                </tr>
                }

                @if (houseUnits.length === 0) {
                <tr>
                    <td colspan="11" class="text-center py-3">
                        <not-found />
                    </td>
                </tr>
                }
            </tbody>
        </table>
        }

        @if (loading) {
        <rectangle-skeleton class="w-100 h-100" />
        }

    </div>

    @if (houseUnits.length > pageSize && !loading ) {

    <div class="flex-center">
        <pagination-controls [maxSize]="maxSize" [directionLinks]="true" previousLabel="" nextLabel=""
            (pageChange)="pageChanged($event)">
        </pagination-controls>
    </div>
    }
    
</div>


