<div class="bulk-invoice-dialog" dir="auto">


    <!-- ====================================== -->
    <!-- HEADER -->
    <!-- ====================================== -->

    <div class="dialog-header flex aic jcsb">

        <h2 class="m-0">

            {{ 'send' | translate }}

        </h2>


        <button
            type="button"
            class="dialog-close clickable"
            (click)="cancel()"
        >

            <i class="bx bx-x bx-md"></i>

        </button>

    </div>


    <!-- ====================================== -->
    <!-- SELECTED ACADEMIES -->
    <!-- ====================================== -->

    @if (data.academies.length > 0) {

        <div class="selected-section">

            <div class="selected-label">

                {{ 'selected_academies' | translate }}

            </div>


            <div class="selected-list">

                <!-- FIRST 3 -->

                @for (
                    academy of data.academies.slice(0, 3);
                    track academy.id
                ) {

                    <div class="academy-chip">

                        <span class="academy-chip-code">

                            {{ academy.code }}

                        </span>


                        <span
                            class="academy-chip-name"
                            [title]="academy.name"
                        >

                            {{ academy.name }}

                        </span>

                    </div>

                }


                <!-- other -->

                @if (data.academies.length > 3) {

                    <div class="academy-more">

                        +{{ data.academies.length - 3 }}

                        {{ 'other' | translate }}

                    </div>

                }

            </div>

        </div>

    }


    <!-- ====================================== -->
    <!-- UPLOAD -->
    <!-- ====================================== -->

    <div
        class="upload-area"

        [class.has-image]="imagePreview"

        [class.dragging]="isDragging"

        (dragover)="onDragOver($event)"

        (dragleave)="onDragLeave($event)"

        (drop)="onDrop($event)"
    >


        <!-- ================================== -->
        <!-- EMPTY -->
        <!-- ================================== -->

        @if (!imagePreview) {
 
            <label
                for="invoiceImage"
                class="upload-content"
            >

                <div class="upload-icon">

                    <i class="bx bx-cloud-upload"></i>

                </div>


                <div class="upload-title">

                    {{ 'upload_invoice_image' | translate }}

                </div>


                <div class="upload-description">

                    {{ 'drag_drop_or_click_to_upload' | translate }}

                </div>


                <input
                    id="invoiceImage"

                    type="file"

                    accept="image/*"

                    hidden

                    (change)="fileChangeEvent($event)"
                />

            </label>

        }


        <!-- ================================== -->
        <!-- IMAGE PREVIEW -->
        <!-- ================================== -->

        @if (imagePreview) {

            <div class="image-preview">

                <img
                    [src]="imagePreview"
                    alt="Invoice preview"
                />

            </div>

        }

    </div>


    <!-- ====================================== -->
    <!-- FILE NAME -->
    <!-- ====================================== -->

    @if (selectedFile) {

        <div class="selected-file flex aic jcsb">

            <div class="flex aic gap-x-1">

                <i class="bx bx-image"></i>

                <span>

                    {{ selectedFile.name }}

                </span>

            </div>


            <button
                type="button"
                class="remove-file clickable"
                (click)="removeImage()"
            >

                <i class="bx bx-trash"></i>

            </button>

        </div>

    }


    <!-- ====================================== -->
    <!-- ACTIONS -->
    <!-- ====================================== -->
<div mat-dialog-actions class="w-50 mx-auto mt-2">
    
    <button
      class="clickable-btn bg-primary py-80 w-100 rounded bold fs-18 mb-1"
       [disabled]="!selectedFile" (click)="confirm()"
    >
      <submit-button [loading]="loading" [text]="'save'" />
    </button>
  </div>


</div>
