<div class="change-password w-60 mx-auto">
  <p class="text-center my-5 fs-38 bold">{{ "change_password" | translate }}</p>

   <div class="flex aic  gap-x-2 pb-5">

     <div class="flex aic pointer" routerLink="../">

       <i class="bx bx-left-arrow-alt bx-md" [ngClass]="{ 'bx-flip-horizontal': isRtl }">
      </i>

      <span>
        {{ 'back' | translate }}
      </span>

    </div>

  </div>

  <div class="">
    <form [formGroup]="form">
      <div class="mb-2">
        <input-password
          key="current_password"
          [control]="f['currentPassword']"
          (getType)="passwordType = $event"
        >
          <input
            [type]="passwordType"
            class="input"
            name="password"
            [attr.placeholder]="'password' | translate"
            formControlName="currentPassword"
          />
        </input-password>
      </div>
      <div class="mb-2">
        <input-password
          key="new_password"
          [control]="f['newPassword']"
          (getType)="passwordType = $event"
        >
          <input
            [type]="passwordType"
            class="input"
            name="password"
            [attr.placeholder]="'password' | translate"
            formControlName="newPassword"
          />
        </input-password>
      </div>
    </form>

    <button
      class="clickable-btn bg-primary py-1 w-100 rounded bold fs-18 mt-4"
      [disabled]="loading"
      (click)="submit()"
    >
      <submit-button [text]="'save'" [loading]="loading" />
    </button>
  </div>
</div>
